.searchLabel{
    padding: 20rpx 24rpx;
    .hotSearch, .historySearch {
        text{
            display: inline-block;
            padding: 12rpx;
            margin: 12rpx;
            background: #f0f0f092;
            font-size: 34rpx;
        }
    }
}
.salesNum, .price {
    position: relative;
}
.filterTabs {
    padding: 0 24rpx 20rpx;
}
.searchType {
    padding-left: 24rpx;
    view {
        border-bottom: 1rpx solid #f0f0f0;
        padding: 24rpx 0;
    }
}
